apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: cstrader
  name: frontend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: frontend
  strategy: {}
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - image: frontend:latest
        name: frontend
        ports:
        - containerPort: 80
        resources: {}
status: {}
